# Node modules
node_modules/

# Log files
*.log
logs/
npm-debug.log*

# Environment variables
.env
.env.local

# Session files
session/
sessions/
session.json
auth_info*
creds.json
QR*

# OS & IDE junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build files
dist/
build/
.next/          # Next.js build output
.vercel/        # Vercel deployment metadata

# Archives
*.zip
*.rar
*.7z

# Heroku
.heroku/
